@import 'colors';
@import 'animation';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	// font-size: 62.5%;
}

.price-box {
	margin: 20px;
}

h1 {
	font-size: 5px;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
	overflow-x: hidden;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.6);
	transition: background-color 0.6s;
}

.blue-text {
	color: $main-color;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

nav {
	text-transform: uppercase;
	z-index: 1;
	transition: background-color 0.6s;
	.faq {
		font-weight: bold;
	}

	a,
	i {
		color: $white;
		font-size: 20px;
	}

	a:hover {
		color: $main-color;
	}

	.fa-bars {
		padding: 10px;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.active {
		color: $main-color;
	}
}

header {
	color: $white;
	float: none;

	h1 {
		text-transform: uppercase;
		font-size: 36px;
	}

	p {
		font-size: 14px;
	}

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/header-medium.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -10;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 5;
	}

	.btn-outline-light {
		text-transform: uppercase;
	}

	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		font-size: 30px;
		color: $white;
	}
}

.accordion {
	margin: 60px auto;
	width: 600px;

	li {
		list-style: none;
		width: 100%;
		margin: 20px;
		padding: 10px;
		border-radius: 8px;
		background: #e3edf7;
		box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
			-6px -6px 10px -1px rgba(255, 255, 255, 0.7);
		label {
			display: flex;
			align-items: center;
			padding: 10px;
			font-size: 18px;
			font-weight: 500;
			cursor: pointer;
		}
		label::before {
			content: '+';
			margin-right: 10px;
			font-size: 24px;
			font-weight: 600;
		}
		input[type='radio'] {
			display: none;
		}
	}

	.content {
		color: #555;
		padding: 0 10px;
		line-height: 26px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s, padding 0.5s;
	}

	input[type='radio']:checked + label + .content {
		max-height: 400px;
		padding: 10px 10px 20px;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 12px;
	}
	.aboutus-hover {
		transition: 0.3s;
	}
	.aboutus-hover:hover {
		color: $main-color;
		transition: color 0.3s;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url('../img/croatia.jpg');
	background-position: center;
	background-size: cover;
	color: #ddd;
	z-index: 0;
	background-attachment: fixed;

	.aboutus-hero-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-hero-text {
		font-size: 12px;
	}
	.aboutus-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		top: 0;
		z-index: -5;
	}
	.aboutus-hero-item {
		margin: 10px 0;
	}
}
.flag {
	width: 50px;
	height: 50px;
	background-color: blue;
	left: 100px;
	display: inline-block;
	background-image: url('../img/croatiaflag.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 5px;
}

/// test start

.test {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 50px;

	.flusher {
		position: relative;
		margin: 40px 10px;
		width: 400px;
		height: 500px;
		perspective: 800px;
		justify-content: center;

		.text-box {
			position: relative;
			top: 0px;
			background-color: rgba(0, 0, 0, 0.366);
			height: auto;
			width: 100%;
			top: 50%;
			text-align: center;
			transform: translateY(-50%);

			h1 {
				font-size: 36px;
			}
		}
		.description {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 30px;
			border-radius: 15px;
			text-align: center;

			// background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
			opacity: 0;
			transition: 0.8s;

			h3 {
				margin-top: 190px;
				margin-bottom: 20px;
			}
		}
		.description-three,
		.description-two {
			font-size: 30px;
		}
		.pic {
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
			border-radius: 15px;
			transition: 0.8s;

			// border: solid 2px rgba(0, 0, 0, 0.364);
			// box-shadow: 2px 2px rgb(0, 0, 0);
			.arrow {
				display: flex;
				flex-direction: row-reverse;
				font-size: 16px;
				background-color: rgb(23, 19, 19);
				width: 100%;
				height: 0px;
				.arrow-icon {
					padding: 10px;
				}
			}
		}
	}
}

.one {
	background-image: url('../img/cards/croatia3.jpg');
}

.two {
	background-image: url('../img/cards/greece1.jpg');
}

.three {
	background-image: url('../img/cards/turkey5.jpg');
}

.description-one {
	transform: rotateY(-180deg);
}

.description-two {
	transform: rotateY(-180deg);
}

.description-three {
	transform: rotateY(-180deg);
}

.flusher:hover .description {
	transform: rotate(0);
	opacity: 1;
}

.flusher:hover .one {
	transform: rotateY(-180deg);
	opacity: 0;
}

.flusher:hover .two {
	transform: rotateY(-180deg);
	opacity: 0;
}

.flusher:hover .three {
	transform: rotateY(-180deg);
	opacity: 0;
}

@media (max-width: 375px) {
	header {
		.hero-img {
			background-image: url('../img/header-min.jpg');
			background-attachment: unset;
		}
		h1 {
			font-size: 18px;
		}
		p {
			font-size: 8px;
		}
	}
	.navbar-nav {
		font-size: 10px;
	}

	main {
		.contact {
			background-attachment: unset;
		}
	}
}

// portfolio //

/* Slideshow container */
.slideshow-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: auto;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
a:hover {
	color: white;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 19;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-decoration: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot-circle {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active-dot,
.dot-circle:hover {
	background-color: #717171;
}

/* Fading animation */
.night {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.portfolio {
	.container {
		display: block;
		max-width: 100%;
		height: auto;
		line-height: 1;
		padding: 0;
	}

	.carousel-item {
		height: 600px;
		position: relative;
	}
	.carousel-caption {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.8);
		left: 0;
		right: 0;
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
	.youtube {
		overflow: hidden;
		padding-bottom: 46.2%;
		position: relative;
		height: 600px;

		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.carousel-control-prev-icon {
		width: 40px;
		height: 40px;
	}
	.carousel-control-next-icon {
		width: 40px;
		height: 40px;
	}

	.carousel-control-next,
	.carousel-control-prev {
		&:hover {
			background-color: rgba(0, 0, 0, 0.4);
		}
		z-index: 0;
	}
}

// PRICES //

.prices {
	.price-box {
		margin: 20px 10px;
		padding: 30px;
		background-color: $white;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		transition: transform 0.3s;
		h3 {
			color: $main-color;
			text-transform: uppercase;
		}
		span {
			font-weight: bold;
		}
		button {
			padding: 10px 20px;
			text-transform: uppercase;
		}
		.price-tag {
			font-weight: bold;
			font-size: 22px;
		}
	}
	.price-box:hover {
		transform: scale(1.05);
	}

	.price-info {
		margin-top: 30px;
		a {
			text-decoration: none;
		}
	}
	.text-center {
		.link {
			z-index: 0;
			position: relative;
			color: rgba(0, 140, 255);
			text-decoration: none;
			transition: transform 0.3s;
			padding: 2px 2px;
			margin: 2px 0;
		}
		.link::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1.5px;
			width: 100%;
			background-color: rgba(0, 140, 255);
			z-index: -1;
			transition: height, 0.3s;
		}
		.link:hover {
			color: rgb(255, 255, 255);
		}

		.link:hover::after {
			height: 100%;
			border-radius: 3px;
		}
	}
}

.price-icon {
	width: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.flag-icon {
	width: 30px;
	margin-right: 10px;
	margin-bottom: 5px;
}

// TEAM //

.team {
	position: relative;
	background-image: url('../img/zespol/teambackground.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	h2 {
		color: $bg-color;
	}

	.slick-prev {
		background: none;
		border: none;
		font-size: 0;
	}

	.slick-next {
		background: none;
		border: none;
		font-size: 0;
	}
	.slick-prev:before {
		content: '\f104';
		color: rgb(255, 255, 255);
		font-size: 30px;
		font-family: 'FontAwesome';
		background: none;
		position: absolute;
		z-index: 8;
		top: 50%;
		left: 0%;
		width: 50px;
		height: 50px;
		background-color: #71717128;
		border-radius: 50px;
		text-align: center;
	}

	.slick-next:before {
		content: '\f105';
		color: rgb(255, 255, 255);
		font-size: 30px;
		font-family: 'FontAwesome';
		background: none;
		position: absolute;
		z-index: 8;
		top: 50%;
		right: 0%;
		width: 50px;
		height: 50px;
		background-color: #71717128;
		border-radius: 50px;
		z-index: 15;
	}
}

.team-shadow {
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -5;
}
.card {
	transition: transform 0.3s;
	img {
		height: 300px;
		object-fit: cover;
	}
	margin: 50px;
}
.card:hover {
	transform: scale(1.1);
}
.card-title {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.card-body {
	height: 200px;
}

.about-trip {
	position: relative;

	.google {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		pointer-events: none;
	}
	.box-map {
		position: relative;
		height: 100%;
		cursor: pointer;
	}

	.box {
		position: relative;
		height: 100%;

		img {
			height: 100%;
			width: 100%;
			border-radius: 5px;
		}

		p {
			text-align: justify;
			// letter-spacing: 2px;
		}
		h2 {
			letter-spacing: 4px;
			text-align: left;
		}
		h3 {
			text-align: left;
			letter-spacing: 2px;
		}

		span {
			font-weight: bold;
		}
	}

	li {
		text-align: justify;
		padding: 5px 0px;
	}
	ul {
		padding: 0px 15px;
	}

	.text-muted {
		font-size: 18px;
	}
}

.box {
	img {
		height: 100%;
		width: 100%;
		border-radius: 5px;
	}
}

.contact {
	position: relative;
	background-image: url(../img/contact.jpg);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	z-index: 0;

	h2 {
		color: $white;
	}
	.contact-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 9, 27, 0.4);
		z-index: -1;
	}
	.contact-us {
		color: $white;

		.contact-item {
			margin: 30px 0;

			h3 {
				margin-bottom: 15px;
				letter-spacing: 2px;
			}
			.social-media {
				font-size: 26px;
				a {
					padding: 10px;
					color: $white;
				}
				a:hover {
					color: rgba($color: #2a81b8, $alpha: 1);
				}
			}
		}
		.phone,
		.mail {
			text-decoration: none;
			color: $white;
		}
		a:hover {
			color: rgba($color: #2a81b8, $alpha: 1);
		}
	}
}

@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url('../img/header-medium.jpg');
		}
		h1 {
			font-size: 40px;
		}
		p {
			font-size: 22px;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		height: 82px;
	}
	.prices {
		.price-info {
			font-size: 18px;
		}
	}

	.arrow-icon {
		display: none;
	}
}

@media (max-width: 600px) {
	header {
		.hero-img {
			background-image: url('../img/header-mini.jpg');
			background-attachment: unset;
		}
	}
	.card:hover {
		transform: none;
	}

	.contact,
	.aboutus-hero,
	.team {
		background-attachment: unset;
		background-position: right;
	}
	.portfolio {
		.youtube {
			height: 300px;
			iframe {
				height: 300px;
			}
		}
	}
}

@media (max-width: 992px) {
	.navbar-nav {
		text-align: end; // na mobilnych nav po prawej
	}
}

@media (max-width: 1400px) {
	.test {
		.flusher {
			width: 300px;
			height: 400px;
		}
	}
}

@media (max-width: 772px) {
	.about-trip {
		position: relative;

		.google {
			height: 300px;
		}
	}
}
